:root {
  --background-color: #d3d3d3;
  --border-color: #515151;
  --cursor-color: #00ac7c;
}

.wrap {
  background-color: var(--background-color);
}

/* inner */
.inner {
  padding: 0 20px;
  /* width: 1280px;
  margin: 0 auto; */
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  background: var(--cursor-color);
  border-radius: 5px;
}

/* cursor */
.cursor {
  position: fixed;
  z-index: 500;
  transition: transform 300ms linear;
  pointer-events: none;
}
.cursor-body {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0.8;
  background-color: var(--cursor-color);
  transition: transform 500ms ease-in-out;
}
.cursor-body.shrink {
  transform: scale(0.4);
}
.cursor-img {
  position: absolute;
  top: -180px;
  left: -9vw;
  top: -13vw;
  height: 29.3vw;
  width: 21.24vw;
  opacity: 0;
  visibility: hidden;
  transition: opacity 600ms ease-in-out, visibility 600ms ease-in-out;
  background-size: contain;
}
.cursor-img.show {
  opacity: 1;
  visibility: visible;
}
.cursor-img.project01 {
  background: url(../images/project01.jpg) no-repeat center;
  background-size: 100% 100%;
}
.cursor-img.project02 {
  background: url(../images/project02.jpg) no-repeat center;
  background-size: 100% 100%;
}
.cursor-img.project03 {
  background: #fff url(../images/project03.jpg) no-repeat center;
  background-size: 100% 100%;
}
.cursor-img.project04 {
  background: url(../images/project04.jpg) no-repeat center;
  background-size: 100% 100%;
}

/* section-title */
.section-title {
  padding: 1.25em 0;
  text-align: center;
  font-size: 1.17vw;
  font-weight: 400;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
  width: 100%;
}
.header.active .main-logo {
  transform: translateY(0);
}
.header.active p {
  transform: translateY(calc(-100% - 1.5vw));
}
.header .header-wrapper {
  position: relative;
}
.header .main-logo {
  position: absolute;
  left: 0;
  top: 1.5vw;
  transform: translateY(calc(-100% - 1.5vw));
  transition: transform 600ms ease-in-out;
  font-size: 2.34vw;
}
.header p {
  position: absolute;
  left: 0;
  top: 20px;
  font-weight: 600;
  font-size: 8vw;
  line-height: 0.88em;
  transform: translateY(0);
  transition: transform 600ms ease-in-out;
}
.header p span {
  display: block;
}
.header p span:nth-child(2) {
  position: relative;
  padding-left: 16%;
}
.header p span:nth-child(2)::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15%;
  height: 1.1vw;
  background-color: var(--font-base);
  content: '';
}
.header .link {
  position: absolute;
  right: 0;
  top: 1.5vw;
  width: 2vw;
}

/* visual-banner */
.visual-banner {
  padding-top: 24vw;
}
.visual-banner p {
  padding: 9vw 0;
  font-size: 1.75vw;
  font-family: 'Noto Sans KR', sans-serif;
}
.visual-banner img {
  border-radius: 30px;
  transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;
}

/* project */
.project {
  padding-top: 27vw;
}
.project .project-wrapper {
  padding: 0 40px;
}
.project .project-item {
  position: relative;
  overflow: hidden;
}
.project .project-item::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.08vw;
  background-color: var(--border-color);
  content: '';
}
.project .project-item:last-child:after {
  display: none;
}
.project .project-item a {
  display: block;
  padding: 4.39vw 0;
  width: 100%;
  height: 12.45vw;
  transform-style: preserve-3d;
  box-sizing: content-box;
}
.project .project-item a:hover .rotate-box {
  transform: rotateX(90deg);
}
.project .rotate-box {
  position: relative;
  height: 170px;
  height: 12.45vw;
  transition: transform 800ms;
  transform-style: preserve-3d;
  transform: translate3D(7%, 0, -85px);
}
.project .rotate-box .front {
  height: 12.45vw;
  transform: rotateX(0) translateZ(85px);
}
.project .rotate-box .bottom {
  height: 12.45vw;
  padding: 40px 0;
  transform: rotateX(-90deg) translateZ(85px);
}
.project .rotate-box .box {
  position: absolute;
  width: 100%;
  height: 100%;
}
.project .rotate-box .box h3 {
  padding-left: 35px;
  line-height: 0.91em;
  font-size: 7.03vw;
  font-weight: 300;
}
.project .rotate-box .box em {
  font-size: 1.17vw;
}
.project .rotate-box .front em {
  position: absolute;
  left: 0;
  top: 8px;
}
.project .rotate-box .bottom em {
  position: absolute;
  left: 0;
  top: 48px;
}
.project .rotate-box .bottom .project-infor {
  display: inline-block;
  position: relative;
}
.project .rotate-box .bottom .project-infor h3 {
  margin-right: 20px;
}
.project .rotate-box .bottom .detail-list {
  position: absolute;
  left: 100%;
  top: 50%;
  padding-left: 3.3vw;
  width: 100%;
  font-size: 1.17vw;
  transform: translateY(-50%);
}
.project .rotate-box .bottom .detail-list::before {
  position: absolute;
  width: 2vw;
  height: 4.8vw;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url('../images/line.svg') no-repeat center;
  background-size: contain;
  content: '';
}
.project .project-item:last-child .front {
  padding: 40px 0;
}
.project .project-item:last-child .front em {
  top: 48px;
}
